// colors
$first-color: #b6b6b6;
$second-color: #f3f3f3;
$third-color: #3d3d3d;
$fourth-color:#f22f49;
$fifth-color: #f10e34;
$sixth-color: #222222;
$seventh-color: #a52a2a;
$white: #ffffff;
$black: #000000;


// fonts
$font-size-default: 15px;
$font-family: 'Lato', sans-serif;